
*.xcuserstate
.DS_Store
*.xcbuild
build/XCBuildData/BuildDescriptionCacheIndex-6e76d3831f5c691f0695feee5e332c72
Astronauts.xcodeproj/xcuserdata/akashkahalkar.xcuserdatad/xcschemes/xcschememanagement.plist
Astronauts.xcodeproj/xcuserdata/akashkahalkar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Astronauts.xcodeproj/project.pbxproj
